html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: auto;
  border-style: solid;
  background-color: beige;
}
.ShawarmaHead
{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}
.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin: auto;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin: auto;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin: auto;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  border-color: black;
  margin: auto;
}
.center {
    margin: auto;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-auto-rows: max-content;
    text-align: center;
}
input {
    width: 20%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    text-align: center;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 4 / 1 / 5 / 2;
}

.div5 {
    grid-area: 5 / 1 / 6 / 2;
}

.div6 {
    grid-area: 6 / 1 / 7 / 2;
}

.bodyPic {
    background-image: url('../ShawarmaBody.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto auto;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
. {
    display: flex;

}
    .centerMiddlePage {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    .div1centerMiddlePage {
        grid-area: 2 / 2 / 3 / 3;
    }
    .div2centerMiddlePage {
        grid-area: 3 / 2 / 4 / 3;
    }



