@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="IndexShowText">
    <div class="div1IndexShowText">
        <h2>Click and pick</h2>
        <h4>
            It is of course possible to collect your order from us. Do you want to be helped quickly?
            Order easily and quickly on our own website and we will ensure that your food is ready at the time of your choice.
            be aware that you cann't pay in the website.
        </h4>
    </div>
    <div class="div2IndexShowText">
        <h2>Our gifts</h2>
        <h4>
            For each season we have deferent dishes and we have deferent gifts for you. for instance we will give you in the summer free sides and in 
            the national hoildays we will give you free dishes, lastly in your boring days we will make sure to give smile in your face.
        </h4>
    </div>
</div>

