*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.testlog

# Build results
*.futdcache.v1
*dtbcache.v2
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
/Application/.vs/Shawarma/v17/TestStore/0/003.testlog
/Application/.vs/Shawarma/v17/TestStore/0/testlog.manifest
/Application/.vs/Shawarma/project-colors.json
