@page
@model Shawarma_website.Pages.Registration.LoginModel
@{
}

<div>
    <form method="post">

        <div class="centerMiddlePage">

            <div class="div1centerMiddlePage">
                <div><small>@Model.Message</small></div>
                <label>Username</label>
                <input asp-for="Username" name="Username" />

                <label>Password</label>
                <input type="Password" asp-for="Password" />
                <div class="div2centerMiddlePage">
                    <a asp-page="/Registration/RegisterUser">Do not have an account register?</a>

                    <input type="submit" value="Login" />
                </div>
            </div>
        </div>

    </form>
</div>
@section Scripts
    {
<partial name="_ValidationScriptsPartial" />
    }